<%- include("template/cabecera", {tituloWeb: 'Creación de Proveedores'}) %>

    <div class="container">
        <h1> Crear nuevo Proveedor </h1>
        <form action="/api/proveedores" method="POST">
            <input type="text"
            placeholder="Agregar Nombre"
            class="form-control my-2"
            name="nombre"
            >
            <input type="text"
            placeholder="Agregar Nacionalidad"
            class="form-control my-2"
            name="nacionalidad"
            >
            <input type="text"
            placeholder="Agregar ultSuministro"
            class="form-control my-2"
            name="ultSuministro"
            >
            <input type="text"
            placeholder="Agregar proxSuministro"
            class="form-control my-2"
            name="proxSuministro"
            >
            <button 
            class="btn btn-success btn-block"
            type="submit">
                Agregar
            </button>
        </form>
    </div>

<%- include("template/footer") %>