<%- include("template/cabecera", {tituloWeb: 'Inicio'}) %>

    <h1 class="text-center text-success">Bienvenido al sistema de mantenimiento SMAO</h1>
    <h2 class="text-center"> <%= Titulo %> </h2>

<%- include("template/footer") %>